deb http://httpredir.debian.org/debian wheezy main
deb-src http://httpredir.debian.org/debian wheezy main

deb http://security.debian.org/ wheezy/updates main
deb-src http://security.debian.org/ wheezy/updates main

deb http://download.noosfero.org/debian/wheezy-<%= node['config']['noosfero']['version'] %> ./
deb-src http://download.noosfero.org/debian/wheezy-<%= node['config']['noosfero']['version'] %> ./

deb http://http.debian.net/debian wheezy-backports main

