# TYPE  DATABASE        USER            ADDRESS                 METHOD
# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            ident
# IPv6 local connections:
host    all             all             ::1/128                 ident

# TYPE  DATABASE  USER        ADDRESS                                 METHOD
host    noosfero  noosfero    <%= node['ips']['stoa-social'] %>/32       trust
